<% if flash[:errors] %>
<ul>
<% flash[:errors].each do |msg| %>

  <li><%= msg %></li>

<% end %>
</ul>
<% end %>


<%= form_for @user do |f| %>

<%= f.label :name %> <%= f.text_field :name %><br>

Allergic to: <%= f.collection_check_boxes :ingredient_ids, Ingredient.all, :id, :name %><br>

<%= f.submit %>

<% end %>